.carousel {
    height: auto;
    overflow: hidden;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border-radius: 100%; 
    transition: 0.5s;
    border: 2px solid transparent; 
    transition: 0.4s;
    &:hover{
        border: 2px solid white; 
    } 
}
