.contain-table-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-table-edit-name {
    outline: none;
    background-color: transparent;
    border: none;
    overflow: auto;
    border-bottom: solid black 1px;
}

.input-table-edit-details {
    outline: none;
    background-color: transparent;
    border: none;
    overflow: auto;
    border-radius: 5px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    width: 700px;
}

.contain-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    margin-left: -10px;
    margin-right: 10px;
    cursor: pointer;
}

.contain-add-description {
    text-align: center;
}

.add-name{
    outline: none;
    margin-right: 10px;
}

.add-description {
    outline: none;
    margin-left: 10px;
    min-width: 800px;
}