.filter-component {
    position: relative;
}

.menu {
    position: absolute;
    margin-right: -10px;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ccc;
    z-index: 1;
    animation: slide-in 0.3s ease-in-out;   
}

.menu p {
    margin: 10px;
}

.close-button {
    padding: 10px;
    cursor: pointer;
    background-color: none;
    border: none;
}

.button-wrapper {
    display: inline-block;
    overflow: hidden;
}

.filter-button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    transition: background 0.5s;
}

.filter-button:hover {
    background-color: #ddd;
}

.filter-button.active {
    background: linear-gradient(to right, #ffffff 50%, #175ab3 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    transition: background 0.3s;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}