.contain-imageSelect {
    height: 400px;
    width: 500px;
    /* width: 100%; */
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSelect {
    width: auto;
    height: 100%;
}

.contain-thumbnail {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    width: 80px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    border: solid 2px #bfbfbf;
    border-radius: 10px;

    &:hover{
        border: solid 2px #3483fa;
        border-radius: 10px;
    }
}