.navbar{
    background-color: #c01c24;
    overflow: hidden;
}


.search {
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid darkgrey;
    padding: 10px;
}

.search-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid darkgrey;
    background-color: white;
    border-left: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
}

.logo {
    font-size: 30px;
    font-weight: 1000; 
    font-style: italic;
    transform: skewX(-15deg);
}

.navbar-brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand.logo {
    font-size: 30px;
}

.navbar-brand.subtext {
    font-weight: 600; 
    font-style: italic;
    transform: skewX(-15deg);
    font-size: 15px; 
    display: flex;
    align-items: center;
    margin-top: -25px;
    position: relative;
}

.navbar-brand.subtext::before {
    content: "";
    height: 5px;
    width: 45px;
    border-top-left-radius: 500px;
    border-bottom-right-radius: 500px;
    margin-right: 4px;
    background-color: #fff;
    display: block;
}

.sections{
    border-top: solid #222222 1px;
    height: 60px;
    background-color: #c01c24;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.icon-help{
    cursor: pointer;
    color: #fff;
    margin: 10px;
    height: 100px;
    width: 100px;
    margin-right: 100px;
    display: flex;
}

.icon-shop{
    cursor: pointer;
    color: #fff;
    margin: 10px;
    height: 100px;
    display: flex;

}

@media only screen and (max-width: 991px) {
    .search{
        width: 100%;
    }
    .sections{
        display: none;
    }
}
@media only screen and (min-width: 991px) {
    .navbar-nav {
        display: none;
    }
    .search{
        width: 700px;
    }
    .search-button{
        margin-right: 100px;
    }
}
