#listas {
    /* width: 400px; */
    padding-right: 120%;

}

#listas .col-sm-6 {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
}

.search {
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid darkgrey;
    padding: 10px;
}

.search-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid darkgrey;
    background-color: white;
    border-left: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
}

@media (max-width: 768px) {
    #listas {
        width: auto;
        padding: 0px;
        margin-bottom: 10px;
        grid-template-columns: 1fr;
    }
    .search{
        width: 100%;
    }
}