.product-card {
    margin: 5px;
    width: 180px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }
}

.contain-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    border-bottom: solid 1px #e0999c;
    overflow: hidden;
    cursor: pointer;
}

.product-image {
    height: 100%;
    width: 100%;
}

.contain-title {
    padding: 10px 10px 2px;
    color: #c01c24;
}

.price {
    padding-bottom: 5px;
    display: block;
    font-weight: bold;
}

.product-button {
    border-radius: 10px;
    padding: 5px 8px;
    margin-bottom: 10px;
    background-color: #c01c24;
    border: none;
    color: #ffffff;
    font-size: 90%;
    font-weight: 600;
    transition: 0.5s;
    &:hover {
        background-color: #83151a;
    }
}

@media only screen and(max-width: 307px) {
    .product-card {
        margin: 5px;
        width: 100px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
}

@media only screen and(max-width: 379px) {
    .product-card {
        margin: 5px;
        width: 150px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
}
@media only screen and(max-width: 319px) {
    .product-card {
        margin: 5px;
        width: 200px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
}
