/* Estilo para las filas pares (fondo blanco) */
.table-row-even {
    background-color: #fff;
}
  
  /* Estilo para las filas impares (fondo gris) */
.table-row-odd {
    background-color: #f3eded;
    border-radius: 100%;
}
  
td, th {
    
    padding: 20px;
}